.container {
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cover {
  background: url('/circle.png');
  height: 100vh;
  width: 100%;
  background-size: contain;
}